<!-- Begin Statistic Section -->
<section id="statistic" class="statistic image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.statisticBlockImage }});">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
            <div class="col-md-{{ colWidth }} col-xs-6">  
            <h5>{{ site.callForPapersTitle }}</h5>
            <div class="row about-details">
                <p>{{ site.callForPapersDescription }}</p>
            </div>
		</div>
	</div>
</section>
<!-- End Statistic Section -->